<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowe Zlecenie</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div class="row">
                <div class="col-md-8">
            <a href="#" th:href="@{'/home'}">Strona Główna</a>
                    </div>
                <div class="col-md-1">
                    <a th:href="@{'/logout'}" th:text="'Wyloguj'">Wyloguj</a>
                </div>
            </div>
            <form  th:object="${order}" th:action="@{/new/}"  method="post">
                <input type="hidden" th:field="*{orderNumber}"/>
                <div class="pannel-group">
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <p>Proszę wypełnić formularz</p>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-3">
                                    <h1 class="panel-title">Data Realizacji</h1>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <input type="datetime-local" class="form-control" th:field="*{orderDeadline}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('orderDeadline')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('orderDeadline')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-3">
                                    <h1 class="panel-title">Ilość Planowana</h1>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <input type="number" class="form-control" th:field="*{quantityPlaned}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('quantityPlaned')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('quantityPlaned')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>